.root-admin {
	.admin-footer {
		position: fixed;
		bottom: 0;
		width: 100%;
		
		

		.branding {
			background-color: $primary-bg;
			color: $primary-bg-text-subtle;
			padding-top: 5px;
			padding-bottom:5px;
		}
	}

	.admin-header {
		background-color: $primary-bg;
		color: $primary-bg-text-subtle;
		padding-top: 15px;
		padding-bottom: 10px;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);

		.title-row {
			padding-bottom: 10px;
		}

		.change-mode-btn {
			float: right;
		}

		.change-mode-btn i {
			cursor: pointer;
			background-color: #fff;
			border-radius: 50%;
			color: $light-black;
			width: 44px;
			height: 44px;
			line-height:44px;
			vertical-align: middle;
			box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
			transition: background-color 0.3s ease-out;
		}

		.change-mode-btn:hover i,
		.change-mode-btn:active i,
		.change-mode-btn:focus i {
			
			background-color: $white-hover;
		}

		.event-name {
			color: #fff;
			display:inline-block;
			line-height: 44px;
			font-family: 'roboto_condensedlight', 'robotoregular', Helvetica, Arial, sans-serif;
		}
	}

	.admin-body {
		margin-top: 15px;
		margin-bottom: 45px;
		background-color: #fff;
		max-width: 96%;
		border-radius:2px;
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);

		.card-body {
			padding-top: 10px;
			padding-bottom: 10px;
			overflow: auto;
		}

		.admin-controls {
			padding-top: 12px;
			padding-bottom: 12px;
			background-color: $green-bg;			

			.controls-btn-active {
				display: none !important;
			}

			.controls-btn {
				display: inline-block;
				background-color: #fff;
				margin-left: 10px;
				border-radius: 2px;
				padding: 5px 10px;
				min-height: 40px;
				box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
				color: $light-black;
				transition: background-color 0.3s ease-out;
				max-width: 140px;
				width: 140px;

				i {
					vertical-align: middle;
				}

				span {
					margin-left: 6px;
					vertical-align: middle;
				}
			}

			.controls-btn:hover, .controls-btn:active, .controls-btn:focus {
				background-color: $white-hover;
			}

			.controls-btn:not(.controls-btn-active) + .controls-btn:not(.controls-btn-active) + .controls-btn:not(.controls-btn-active) + .controls-btn:not(.controls-btn-active) {
				display: none;
			}

			.controls-search-form {
				box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);			
				background-color: #fff;
				border-radius: 2px;		
				border-color: rgba(12,12,12,0.12);
				vertical-align: middle;
				position: relative;
				display: inline-table;
				padding: 0;
				white-space: nowrap;
				width: 100%;

				.form-group {
					display:table-cell;
					margin: 0;
					border-radius:2px;
					width: 100%;
				}

				.controls-search-box {
					padding: 0 10px;
					height: 38px;
					border: 0;
					display: inline-block;
					background-color: transparent;
					width: 100%;
				}

				.controls-search-btn {
					display: table-cell;
					color: #0c0c0c;
					background:inherit;
					padding: 0;
					border-color: transparent;	
					width: 38px;
					vertical-align: middle;
					height:38px;
					border-radius:2px;								
				}
			}			
		}
	}

	.results-table {
		table {			
			text-align: left;
			border-color: grey;
			border-spacing: 2px;
			color: $light-black;
			margin-bottom: 0;
		}

		thead {						
			opacity: 0.75;

			th {
				color: $grey-text;	
				font-weight: normal;
				font-family: 'robotomedium', 'robotoregular', Helvetica, Arial, sans-serif;
				cursor: pointer;
			}

			th:only-child {
				cursor : auto;
			}
		}

		tbody {
			vertical-align: middle;
		}

		th, td {
			padding: 10px 8px;
			vertical-align: middle;
			border: 0;			
		}

		td {
			border-top: 1px solid rgba(189,193,193,0.2);
		}

		.table-a-row {
			display: table-row;
		}

		.table-a-row:hover, .table-a-row:focus {
			text-decoration: none;
			color: inherit;
		}

		.table-a-row td:first-child,
		.table-a-row th:first-child,
		tr td:first-child,
		tr th:first-child {
			text-align: center;
			padding-left: 0;
			padding-right: 0;
		}

		.table-a-row td:first-child,
		tr td:first-child {
			color: $green-bg;
		}
		
		.table-a-row td:first-child i,
		tr td:first-child i {
			vertical-align: middle;
		}

		tbody .table-a-row,
		tbody tr {
			background-color: #fff;
			transition: background-color 0.3s ease-out;
		}
		
		tbody .table-a-row:hover, tbody .table-a-row:focus, tbody .table-a-row:active,
		tbody tr:hover, tbody tr:focus, tbody tr:active {
			background-color: $white-hover;
		}
	}

	.admin-stats {	

		.total {
			line-height: 40px;
		}	

		.total .stats-number {
			font-size: 40px;			
		}
		.total .stats-label {
			font-size: 24px;
		}

		.sub-number .stats-number {
			font-size: 24px;
		}

		.sub-number {
			margin-bottom: 3px;
			opacity: 0.8;
			font-family: 'robotolight', 'robotoregular', Helvetica, Arial, sans-serif;
		}
	}

	.admin-registrant {		

		.other-info {
			color: #313534;
			opacity: 0.8;
			font-family: 'robotolight', 'robotoregular', 'roboto', Helvetica, Arial, sans-serif;
		}

		

		.confirm-checkin {
			max-height: 0;
			overflow : hidden;
			transition: max-height 0.3s ease-in-out;

			p {
				padding: 5px 0 2px 0;
			}
			button {
				color: #00897b;
				font-size: 24px;
				letter-spacing: 1px;
			}
		}

		.confirm-checkin.confirm-checkin-yes {
			max-height: 200px;
		}

		.registrant-more-box {
			padding-bottom: 10px;

			i {
				opacity: 0.8;
				font-size: 36px;
			}

			.registrant-more-toggle {
				padding: 5px;
				cursor: pointer;
			}

			.more-field {
				padding-bottom: 5px;
			}

			.more-field-title {
				font-family: 'robotobold', 'robotomedium', 'robotoregular', 'roboto', Helvetica, Arial, sans-serif;
			}
		}
	}

	.registrant-checkin {
		clear: both;
	}

	.registrant-checkin-btn {
		padding: 10px 0 0 0;
		text-transform: uppercase;
		cursor: pointer;

		i {
			font-size: 28px;
			line-height: 28px;
		}
	}

	.registrant-checkin-btn:hover, .registrant-checkin-btn:focus, .registrant-checkin-btn:active {
		outline: 0;
		outline-color: transparent;
	}



	.error-text {
		text-align: center;
		padding: 10px 8px;
		opacity: 0.8;
		color: #313534;
		font-weight: 400;
		font-family : 'robotomedium', 'robotoregular', 'roboto', Helvetica, Arial, sans-serif;
	}

	.cancelled-text {
		text-transform: uppercase;
		color: #e74c3c;
		margin-top: 15px;
	}

	.admin-scan {

		.scan-camera-box {
			transition: background-color 0.3s ease-in-out;
			display: inline-block;
			padding: 10px;
			cursor: pointer;
			border-radius: 10px;
		}

		.scan-camera-box:hover, .scan-camera-box:focus {
			background-color: #dfe1e1;
		}

		.scan-icon {
			vertical-align: middle;
			font-size: 91px;
		}

		.scan-text {
			text-transform: uppercase;
			font-size: 28px;
		}
	}

	.admin-settings {

		.form-group label {
			display: block;
			margin-bottom: 5px;
		}

		.settings-btn {
			min-height: 38px;
			padding: 6px 10px;
		}		
	}
}

@media (max-height: 1024px) {
	.admin-body .card-body {
		max-height: 785px;
	}
}

@media (max-width: 991px) {
	.root-admin .admin-body .controls-btn {
		max-width: 65px !important;
	}
}

@media (max-height: 768px){
	.admin-body .card-body {
		max-height: 560px;
	}
}

@media (max-height: 737px) {
	.admin-body .card-body {
		max-height: 400px;
	}
}

