.root-attendee {
	.attendee-footer {
		position: fixed;
		bottom: 0;
		width: 100%;
	}

    .attendee-welcome {
        padding-bottom: 55px;
    }

	.attendee-password-btn {
		position: absolute;
		top: 0;
		left: 0;
		width: 80px;
		height: 80px;
		/*border: 1px solid white;*/
	}

	background: #50a3a2;
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
    background-size: cover;

    .welcome-text {
    	font-size: 4.3rem;
    	font-weight: normal;
    	font-family: 'robotothin', 'robotoregular', 'roboto', Helvetica, Arial, sans-serif;
    	color: #f5f5f5;
    	padding-top: 10px;
    	padding-bottom: 10px;
    }

    .instruction-text {
    	color: #f5f5f5;
    	text-align: center;
    	font-family: 'robotothin', 'robotoregular', 'roboto', Helvetica, Arial, sans-serif;
    	font-size: 1.7rem;
    	padding-bottom: 10px;
    }

    .select-entry-method {
    	border: 1px solid rgba(255,255,255,0.4);    	
    	border-radius: 8px;
    	color: #f5f5f5; 
    	overflow: hidden; 
    	position: relative;  
    }

    .method-search,
    .method-scan {
		background-color: rgba(255,255,255,0.2);
		transition: background-color 0.3s ease-in-out;
		cursor: pointer;
		padding: 10px;
		width: 50%;
		display: inline-block;
    }
    
    .method-scan.one-method,
    .method-search.one-method {
    	width: 100%;
    }

	.method-search:focus,
    .method-scan:focus,
    .method-search:hover,
    .method-scan:hover {
		background-color: rgba(255,255,255,0.4);
		color:inherit;
		text-decoration: none;
    }

    .method-icon i {
    	font-size: 7rem;
    }

    .method-text {
    	font-size: 2.3rem;
    	white-space: nowrap;
    	font-family: 'robotothin', 'robotoregular', 'roboto', Helvetica, Arial, sans-serif;
    }

    .method-scan {
    	border-left: 1px solid rgba(255,255,255,0.2);
    }

    .method-walkin {
    	color: #f5f5f5;
    	margin-top: 20px;    	

    	a {
    		font-family: 'robotothin', 'robotoregular', 'roboto', Helvetica, Arial, sans-serif;
    		font-size: 1.7rem;
    		background-color: #fff;
    		transition: background-color 0.3s ease-in-out;
    		color: #50a3a2;
    		border-radius: 8px;
    		display:block;
    		padding: 10px;
    		cursor: pointer;
    	}

    	a:hover, a:focus {
    		background-color: rgba(255,255,255,0.8);
    		text-decoration: none;
    		color: #50a3a2;
    	}
    }

    .method-walkin:hover, .method-walkin:focus {
    	text-decoration: none;
    	color: inherit;
    }

    .method-walkin.register-now-action {
        max-width: 360px;
        margin: 15px auto;
    }

    .password-btns {
    	max-width: 320px;
    	width: 320px;
    	margin: 30px auto;		
		border: 1px solid rgba(255,255,255, 0.4);
		border-radius: 8px;
		overflow: hidden;
    }

    .password-btn-cancel,
    .password-btn-submit {
    	width: 50%;
    	font-size: 1.5rem;
    	font-family: 'robotothin', 'robotoregular', 'roboto', Helvetica, Arial, sans-serif;
    	display:inline-block;
    	cursor: pointer;
    	padding: 3px 10px;
    	border: 0;
    	background-color: #fff;
    	background-color: transparent;
    	white-space: nowrap;
    }

    .password-btn-submit:focus, .password-btn-submit:active, .password-btn-submit:hover {
    	outline: 0;
    	outline-color: transparent;
    }

    .password-btn-cancel:focus, .password-btn-cancel:hover,
    .password-btn-submit:focus, .password-btn-submit:hover {
    	text-decoration: none;
    	color: inherit;
    }

    .password-btn-cancel {
    	background-color: #fff;
    	color: #50a3a2;
    	transition: background-color 0.3s ease-in-out;
    }

    .password-btn-cancel:hover {
    	background-color: rgba(255,255,255,0.8);
    	color: #50a3a2;
    }

    .password-btn-submit {
    	background-color: rgba(255,255,255,0.2);
    	transition: background-color 0.3s ease-in-out;
    	color: #fff;
    }

    .password-btn-submit:hover, .password-btn-submit:focus {
    	background-color: rgba(255,255,255,0.4);
    	color: #fff;
    }

    .password-error {
    	color: #fff;
    	font-family: 'robotothin', 'robotoregular', 'roboto', Helvetica, Arial, sans-serif;
    	margin-bottom: 10px;
    }

    .card-container,
    .walk-in-form {
    	max-width: 930px;
    	margin: 10px auto 50px auto;
    	background-color: #fff;
    	padding-top:15px;
    	padding-bottom: 10px;
    	border-radius: 2px;
    	box-shadow: 0 1px 3px 0 rgba(0,0,0,.33);
    }

    .error-text {
    	text-align: center;
    	opacity:0.9;
    }

    .registrant-checkin-btn {
        padding-top: 10px;
        cursor: pointer;
    }

    .attendee-search-list {
        max-width: 360px;
        padding: 0;
        color: #313534;
    }

    .attendee-search-tile {
        display: block;
        background-color: #fff;
        transition: background-color 0.3s ease-out;
        border-bottom: 1px solid hsla(180,3%,75%,.2);
        padding: 8px 48px 8px 8px;
        position: relative;
        min-height: 68px;
        cursor: pointer;

        &:focus,
        &:hover {
            background-color: #dfe1e1;
            text-decoration: none;
        }
    }

    .attendee-search-tile:last-child {
        border-bottom: 0;
    }

    .primary-tile-text {
        font-size: 18px;
    }

    .secondary-tile-text {
        opacity: 0.6;
    }

    .checkin-icon {
        position: absolute;
        right: 15px;
        top: 18px;

        i {
            font-size: 32px;
            color: #00897b;
        }
    }

    .msg-text {
        color: #f5f5f5;
        font-size:1.6rem;
        font-family: 'robotothin', 'robotoregular', 'roboto', Helvetica, Arial, sans-serif;
    }

    .other-info {
        color: #313534;
        opacity: 0.8;
        font-family: 'robotolight', 'robotoregular', 'roboto', Helvetica, Arial, sans-serif;
    }

}

@media (max-width: 950px) {
    .root-attendee .card-container,
    .root-attendee .walk-in-form {
        max-width: 96%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 575px) {
	.root-attendee {
		.method-scan,
		.method-search {
			width: 100%;
			border: 0;

			i {
				font-size: 5rem;
			}
		}

		.method-text {
			font-size: 2rem;
		}

		.method-scan {
			border-top: 1px solid rgba(255,255,255, 0.2);
		}
	}
}