/*

Application Configurations here
--------------------------------

@import './variables/colors'
@import './variables/components';
@import './themes/default'...

*/

$grey-bg : rgb(229, 230, 230);
$green-bg : #00897b;

$grey-text : rgb(49,53,52);
$light-black : #313534;
$white-hover : #dfe1e1;

$primary-bg : #2e3942;
$primary-bg-text-subtle : #d9d9d9;