/*

Application Configurations here
--------------------------------

@import './variables/colors'
@import './variables/components';
@import './themes/default'...

*/

$grey-bg : rgb(229, 230, 230);
$green-bg : #00897b;

$primary-bg : #2e3942;
$primary-bg-text-subtle : #d9d9d9;