@import './fonts/roboto/roboto';
@import './fonts/material-design-icons/material-icons';
@import '~bootstrap-grid/bootstrap.min';
@import 'utils';
@import 'base';


html {
	box-sizing: border-box;
}

html, body {
	font-family: 'robotoregular', Helvetica, Arial, sans-serif;
	font-size: 16px;
	background-color: $grey-bg;
}

html,
body,
#app,
.root-router,
.root-admin {
	margin: 0;
	padding: 0;
	/*min-height: 100%;*/
	/*height: 100%;*/
	min-height: 100vh;
}

.root-attendee {
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

.root-admin {
	overflow: auto;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	font-family: 'robotoregular', Helvetica, Arial, sans-serif;
	font-size:16px;
}

a {
	text-decoration: none;
	color: inherit;
}

ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6,p {
	margin: 0;
	padding: 0;
}

select:focus, select:hover, select:active,
input:focus, input:hover, input:active {
	outline: 0;
}

@import 'forms';
@import 'donutChart';
@import 'adminMode';
@import 'attendeeMode';