.form-group {
	margin-bottom: 10px;
}

.form-group label {
	margin-bottom: 8px;
	font-size: 14px;
	color: rgba(0,0,0,0.87);
}

.form-control {
	padding: 6px 10px;
	line-height: 1.5;
	color: #55595c;
	background-color: #fff;
	background-image: none;
	border: 1px solid hsla(210,8%,51%,0.2);
	border-radius: 0;
	-webkit-appearance: none;
	min-height: 38px;
}

.form-control:active,
.form-control:focus {
	border-color: hsla(210,8%,51%,0.3);
}

.form-control[disabled] {
	background-color: #f1f1f1;
}

.req label:after {
	content : " *";
	color: #e74c3c;
}

.attendee-form {
	background-color: rgba(255,255,255,0.2);
	width: 270px;
	transition: all 0.3s ease-in-out;
	color: #333;
	padding: 6px 10px;
	line-height: 1.5;
	background-image: none;
	outline: 0;
	border-radius: 3px;
	appearance: none;
	border: 1px solid rgba(255,255,255,0.4);		

	&:hover {
		background-color: rgba(255,255,255,0.4);
	}

	&:focus {
		background-color: #fff;
		width: 320px;
	}
}