.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
.clearfix { display: inline-block; }

* html .clearfix { height: 1%; }
.clearfix { display: block; }

.text-center {
	text-align:center;
}

.text-left {
     text-align: left;
}

.text-right {
	text-align: right;
}

.flex-align-center {
	align-items: center;
}

.offset-xs-0-1 {
	margin-left: 4.333333%;
}

.mi-26 {
     font-size: 26px !important;
}

.mi-38 {
     font-size: 38px !important;
}

.col-white {
     color: #fff;
}

.btn-col-green {
     color: #00897b;
     transition: color 0.3s ease-out;
}

.btn-col-green:active, .btn-col-green:focus, .btn-col-green:hover {
     color: #38A99D;
}

.btn-col-grey {
     color: #313534;
     opacity: 0.7;
     transition: opacity 0.3s ease-out;
}

.btn-col-grey:active, .btn-col-grey:focus, .btn-col-grey:hover {
     opacity: 0.9;
}

.bg-validar {
     background-color: #005958;
     transition: background-color 0.3s ease-out;
}

.bg-validar:hover, .bg-validar:active, .bg-validar:focus {
     background-color: #1F8080;
}

.bg-green {
     background-color: #00897b;
     transition: background-color 0.3s ease-out;
}

.bg-green:hover, .bg-green:active, .bg-green:focus {
     background-color: #005958;
}

.btn-flat {
     background-color: #fff;
     transition: background-color 0.3s ease-out;
     color: #343434;
}

.btn-flat:hover, .btn-flat:active, .btn-flat:focus {
     background-color: rgba(0,0,0,0.1);
}

.btn {
     cursor: pointer;
     white-space: nowrap;
     user-select: none;
     touch-action: manipulation;
     border-radius: 2px;
}

.btn:focus,
.btn:active {
     outline: none;
     outline-color: transparent;
}

.btn-full {
     width: 100%;
}

.btn-norm {
     border: 0;
     border-radius: 2px;
     padding: 0 30px;
     font-size: 16px;
     line-height:36px;
}

.btn-large {
     font-size: 28px;
}

.btn-none {
     background: #fff;
     border: 0;
}

.split {
     font-size: 21px;
     opacity: 0.8;
     margin: 0 5px;
}

.v-middle {
     vertical-align: middle;
}

.v-a-sub {
     vertical-align: sub;
}

.hidden {
     display: none;
}

.invisible {
     visibility: hidden;
}

.m-t-10 {
     margin-top: 10px;
}

.m-t-15 {
     margin-top: 15px;
}

.m-b-15 {
     margin-bottom: 15px;
}

.b-t-light {
     border-top: 1px solid rgba(160,160,160,0.2);
}

.f-s-44 {
     font-size:44px;
}

.f-s-24 {
     font-size: 24px;
}

@media (max-width: 767px) {
	.text-right-xs {
		text-align: right !important;
	}

     .text-center-xs {
          text-align: center !important;
     }

     .m-t-15-xs {
          margin-top: 15px;
     }
}